<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="78842be1-808b-48e2-96be-8d7e8e641151"
    Version="1.0.0.0"
    Publisher="CN=rasharm" />

  <Properties>
    <DisplayName>HybridJSCPPApp</DisplayName>
    <Description>HybridJSCPPApp</Description>
    <PublisherDisplayName>rasharm</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="HybridJSCPPApp"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="HybridJSCPPApp"
        ForegroundText="light"
        BackgroundColor="#000000">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
