build
!node_modules
out
dist
coverage
*.sublime-workspace
*.sublime-project
*.xcuserdatad
*.xccheckout
.DS_Store
*~
npm-debug.log
clangout
tools/xctool
*.tlog
*.log
*.intermediate
Debug
*.suo
*.sdf
*.opensdf
.idea
Thumbs.db
*.user
_tmp
